<!doctype html>

<html ng-app>

<head>
	<title>Hello World in AngularJS</title>
</head>

<body ng-controller="TodoController">
	<ul>
		<input type="file" style="display:none" id="file" name='file' onchange="angular.element(this).scope().fileNameChanged()"
		/>
		<li ng-repeat="todo in todos">
			<input type="checkbox" ng-model="todo.completed"> {{ todo.name }}
		</li>
	</ul>

	<script>
  function TodoController($scope){
    $scope.todos = [
      { name: 'Master HTML/CSS/Javascript', completed: true },
      { name: 'Learn AngularJS', completed: false },
      { name: 'Build NodeJS backend', completed: false },
      { name: 'Get started with ExpressJS', completed: false },
      { name: 'Setup MongoDB database', completed: false },
      { name: 'Be awesome!', completed: false },
    ]

    angular
    .module('docsSimpleDirective', [])
      .controller('Controller', ['$scope', function($scope) {

  $scope.customer = {
    name: 'Naomi',
    address: '1600 Amphitheatre'
  };
}])
.directive('myCustomer', function() {
  return {
    template: 'Name: {{customer.name}} Address: {{customer.address}}'
  };
});
  }
</script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="../../angular.min.js"></script> 
</body>

</html>
</footer>


</html>


<!--
<html>

<head>
	<script src="../../dist/app.bundle.js"></script>
</head>

<body>
	<h1>
		Suck my dick, fuckers!
	</h1>
</body>

</html>


    indexPath
    splitLevel
    searchKey
    notWrite
    logFormat
    excludeTags
    distFileNam
-->